.cesta{

background-image: url(https://imgur.com/zUnjvgn.jpg);
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: calc(100vh - 64px);
}


.pig{
    background-image: url(https://imgur.com/rSCH4jX.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: calc(100vh - 64px);
}


.lupa{

    background-image: url( https://imgur.com/ukiLrIy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: calc(100vh - 64px);
    
    }


.carteira{
    background-image: url(https://imgur.com/TksAPBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: calc(100vh - 64px);
}

.comoFunciona {

   color:black;
   font-size:25px !important;
   margin-Bottom:30px !important; 
   margin-Top:30px !important;
   font-family: Arial, Helvetica, sans-serif !important; 
   font-weight: bold !important; 
}

.tituloCard{

    font-family: Arial, Helvetica, sans-serif !important; 
    font-size: 20px !important;
    color:black; 
    font-Weight: bold !important;

}

subtituloCard{

    font-family: Arial, Helvetica, sans-serif !important; 
    font-size: 50px !important;
    color:black; 
  

}
