.navbarColor{

    background:  rgb(240, 173, 78) !important;
    
}

.titulos{

    text-align: center;
    margin-right: 5px !important;
    padding: 5px !important; 
}

.margem{

   
  margin-left: 350px;
    
}